# Email Configuration
# get your email username and password from your email provider
EMAIL_USERNAME=your_email_username
EMAIL_PASSWORD=your_email_password
CONTACT_EMAIL=contact@yourdomain.com

# Meta Tags
NEXT_PUBLIC_DOMAIN=https://yourdomain.com